<h2>Set a Financial Goal</h2>
<form (ngSubmit)="addGoal()">
  <label>Title:
    <input [(ngModel)]="newGoal.title" name="title" required />
  </label>
  <label>Target Amount:
    <input type="number" [(ngModel)]="newGoal.targetAmount" name="targetAmount" required />
  </label>
  <button type="submit">Add Goal</button>
</form>

<hr />

<div *ngFor="let goal of goals" class="goal" [ngStyle]="{ 'border-left': '6px solid ' + getProgressColor(goal) }">
  <h3>{{ goal.title }}</h3>

  <p>Progress: €{{ goal.currentAmount }} / €{{ goal.targetAmount }} - {{ getProgressPercentage(goal) | number: '1.0-1' }}%</p>
  <progress [value]="goal.currentAmount" [max]="goal.targetAmount" [ngStyle]="{ '--progress-color': getProgressColor(goal) }"></progress>

  
</div>

